<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UI.Properties.Settings>
            <setting name="pdfTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="saveFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dirFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="GitHubUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="eEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="eHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ePwd" serializeAs="String">
                <value />
            </setting>
            <setting name="nItems" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="useProxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timeProxy" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="api_usr" serializeAs="String">
                <value />
            </setting>
            <setting name="api_key" serializeAs="String">
                <value />
            </setting>
            <setting name="api_host" serializeAs="String">
                <value />
            </setting>
            <setting name="ePort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="eSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="eMessage" serializeAs="String">
                <value />
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>